<ion-header>
  <ion-toolbar color="primary">
    <ion-title> Trending Movie </ion-title>
  </ion-toolbar>
</ion-header>

<ion-list>
  @if(isLoading){
  <ion-item>
    <ion-label class="ion-text-wrap"> Loading... </ion-label>
  </ion-item>
  }
</ion-list>

<ion-content>
  <ion-list>
    @for(item of allMovie; track item.id){
    <ion-item button [routerLink]="['/details', item.id]">
      <ion-avatar slot="start">
        <img [src]="imageUrl + item.poster_path" alt="poster" />
      </ion-avatar>
      <ion-label class="ion-text-wrap">
        <h3>{{item.title}}</h3>
        <p>{{item.release_date | date:'y'}}</p>
      </ion-label>
      <ion-badge slot="end"> {{item.vote_average}} </ion-badge>
    </ion-item>
    }
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end" class="ion-margin-end">
    <ion-fab-button routerLink="/wishlist">
      <p>WISH</p>
    </ion-fab-button>
  </ion-fab>
</ion-content>
